legend {
  display: block; 
}
label {
  display: block; 
}
fieldset {
  display: block; 
}
.rightans {
  border:3px solid #0f0;background-color: #afa;
}
.wrongans {
  border:3px solid #f00;background-color: #faa;
}
.responsive {
  max-width: 100%;
  height: auto;
}

